.card {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  box-shadow: 0px 8px 0px 16px rgba(0, 0, 0, 0.39);
  -webkit-box-shadow: 0px 8px 0px 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 0px 16px rgba(0, 0, 0, 0.1);

  border-radius: 1rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 350px;
  height: 100%;

  padding: 1.5rem;

  border-radius: 1rem;

  background-color: hsl(216, 50%, 16%);
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
}
.card-content > img {
  margin: 0;
  padding: 0;
  align-self: center;

  position: relative;

  border-radius: 1rem;

  width: 100%;
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21.90rem;
  height: 350px;

  position: absolute;
  left: calc(50% - 175px);
  top: calc(50% - 298px);

  border-radius: 1rem;

  background-color: hsl(178, 100%, 50%);
  opacity: 0;
}
.view > img {
  position: inherit;
}
.active:hover {
  opacity: 50%;
  cursor: pointer;

  transition: all 500ms;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  margin: 0;
  padding: 0;
}
.card-text > h2 {
  color: hsl(0, 0%, 100%);

  font-size: 1.5rem;
}
.card-text > p {
  color: hsl(0, 0%, 50%);

  margin: 0;
  padding: 0;
}
.card-text > h2:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
.crypto {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  width: 100%;
}
.eth {
  display: flex;
  justify-content: center;
  align-items: center;

  color: hsl(178, 100%, 50%);

  gap: 0.5rem;
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;

  color: hsl(0, 0%, 50%);

  gap: 0.5rem;
}
.card-copyright {
  display: flex;
  justify-content: start;
  align-items: center;

  gap: 1rem;

  width: 100%;

  border-top: 1px solid hsl(215, 32%, 27%);
}
.card-copyright > img {
  width: 10%;

  border: 1px solid white;
  border-radius: 50%;
}
.card-copyright > p {
  color: hsl(0, 0%, 50%);
}
.card-copyright > p > span {
  color: hsl(0, 0%, 100%);
}
.card-copyright > p > span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}
